.App {
  margin: 0;
  text-align: center;
}

.container{
  position: relative;
  margin: auto;
  width: 350px;
  height: 550px;
  border-radius: 8px;
  background-color: black;
}

.display{
  position: absolute;
  margin: 50px 25px 25px 25px;
  width: 300px;
  height: 100px;
  border-radius: 8px;
  background-color: aliceblue;
}

.prev{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5px;
  height: 30px;
  font-size: 20px;
}
.answer{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 2.5px;
  height: 70px;
  font-size: 28px;
  font-weight: 500;
}

.keypad{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 175px 15px 25px 15px;
  width: 320px;
  height: 350px;
}

.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 60px;
  border-radius: 5px;
  font-size: 32px;
  font-weight: 600;
  color: white;
  background-color: rgb(42, 87, 165);
  cursor: pointer;
}

.btn:hover{
  background-color: rgba(0, 21, 253, 0.795);
  color: rgb(255, 233, 32);
}